$bdrs: 7px;
.dropdown {
  position: relative;
  text-align: center;
  font-weight: 500;
  min-width: 75px;

  &__head,
  &__btn {
    border: none;
    background-color: transparent;
  }
  &__head {
    position: relative;
    width: 100%;
    padding: 5px 30px 6px 20px;
    background-color: #fff;
    transition: color .3s;
    border: 2px solid #ADADAD;
    border-radius: $bdrs;
    border-bottom: none;
    outline: none;
    &:hover,
    &:focus {
      color: $main-color;
      outline: none;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 10px;
    font-size: 14px;
    transition: transform .2s;
  }
  &__list {
    position: absolute;
    bottom: 7px;
    padding-top: 7px;
    left: 0;
    z-index: 3;
    margin: 0;
    background-color: #fff;
    transform: translateY(100%);
    width: 100%;
    max-height: 0;
    transition: max-height .4s, padding .4s;
    overflow: hidden;
    border: 2px solid #ADADAD;
    border-top: none;
    border-radius: 0 0 $bdrs $bdrs;
  }
  &__btn {
    display: block;
    padding: 5px 20px;
    width: 100%;
    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
  &.is-opened {
    .dropdown__list,
    .dropdown__head {
      border-color: rgba($main-color, .8);
    }
    .dropdown__head {
      color: $main-color;
    }
    .dropdown__list {
      max-height: 200px;
    }
    .dropdown__icon {
      transform: translateY(-40%) rotate(180deg);
    }
  }
}