.bascet {
  padding: 40px 20px;
  .container {
    @extend %flex-ac;
    flex-direction: column;
  }
  &-product {
    max-width: 150px;
    &__img {
      display: block;
      max-width: 100%;
    }
  }
}

.bascet-slider {
  max-width: 300px;
  margin: 0 auto;
}
