@import 'normalize';
@import 'base';
@import 'animations';

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-group {
  button, a {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.btn {
  &-default {
    background-color: transparent;
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  &-tab {
    padding: 10px 0;
    width: 250px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid currentColor;
    font-style: italic;
    font-weight: bold;

    &.is-active {
      color: #fff;
      background-color: $main-color;
      border-color: $main-color;
    }
  }
}

.btn-main {
  position: relative;
  padding: 5px 10px;
  width: 150px;
  background-color: transparent;
  border: 2px solid currentColor;
  overflow: hidden;
  font-weight: bold;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    @extend %stretch;
    background-color: transparent;
    transform: translateX(-100%);
    z-index: -1;
    transition: transform .3s;
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }

  &--danger {
    display: block;
    border-color: $main-color;
    color: $main-color;
    margin: 2rem auto;
    text-align: center;
    &:before {
      background-color: $main-color;
    }

    &:hover {
      color: #fff;
    }
  }
}

.form {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 0 0;

  &--contacts {
    padding: 0;
  }
}

.social-list {
  @extend %flex;
  margin: 40px 0 20px 0;
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    display: inline-block;
    color: $default-color;
    height: 25px;
    font-size: 25px;
    transition: color .3s, transform .2s;

    &:hover {
      color: $main-color;
      transform: scale(1.3)
    }
  }
}

.main-title {
  font-size: 24px;
  margin: 20px 0 40px 0;
  text-transform: uppercase;
  text-align: center;
}

.main-link {
  color: $main-color;
  font-weight: bold;
  font-size: 18px;
}

.section {
  padding: 100px 0 40px 0;
}

.logo-link {
  display: block;
  max-width: 250px;
  margin: 0 auto 20px auto;
  @media only screen and (max-width : 767px) {
    max-width: 200px;
  }
}
@media only screen  and (max-width : 460px) {
  .btn {
    &-tab {
      width: 100px;
      font-size: 16px;
    }
  }
}

/* #Helpers */

.mob-visible {
  display: none;
  @media only screen and (max-width : 767px) {
    display: inline-block;
  }
}

.mob-hidden {
  @media only screen and (max-width : 767px) {
    display: none;
  }
}
.wrapper {
  min-height: 100vh;
  background-image: url('~assets/images/bg.jpg');
}