.checkbox {
  &__input {
    display: none;

    &:checked + label::before {
      content: '\2713\0020';
      background-color: rgba(green, .8);
      border-color: rgba(green, .8);
    }
  }

  &__label {
    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #fff;
      color: #fff;
      text-align: center;
      line-height: 25px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}