.checkbox {
  &__input {
    display: none;

    &:checked + label::before {
      content: '\2713\0020';
    }
  }

  &__label {
    cursor: pointer;

    &::before {
      content: '';
      border: 1px solid currentColor;
      background-color: #fff;
      display: inline-block;
      text-align: center;
    }
  }
}