.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &__link {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  &__info {
    font-size: 40px;
    color: $main-color;
    font-style: italic;
    font-weight: bold;
    @media only screen  and (max-width : 767px) {
      font-size: 30px;
    }
  }

  &-link {
    font-size: 30px;
    color: $main-color;
    font-style: italic;
    text-decoration: none;
    @media only screen  and (max-width : 767px) {
      font-size: 20px;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
